<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H3RU Home Control System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>H3RU Home Control System</h1>
    <div class="container">
        <div class="camera-feed">
            <h3>Outside Garage Camera</h3>
            <img src="{{ url_for('video_feed', cam_id=0) }}" alt="Outside Garage Camera" width="320" height="240">
        </div>
        <div class="camera-feed">
            <h3>Inside Garage Camera</h3>
            <img src="{{ url_for('video_feed', cam_id=1) }}" alt="Inside Garage Camera" width="320" height="240">
        </div>
        <div class="camera-feed">
            <h3>Entrance Camera</h3>
            <img src="{{ url_for('video_feed', cam_id=2) }}" alt="Entrance Camera" width="320" height="240">
        </div>
    </div>
    <div class="centered-button">
        <button id="open-door">Open Door</button>
    </div>
    <div id="result-message" style="margin-top: 20px;"></div>
    <script>
        document.getElementById('open-door').addEventListener('click', function() {
            fetch('/open_door', { method: 'POST' })
                .then(response => response.text())
                .then(data => {
                    document.getElementById('result-message').innerText = data;
                });
        });

        function fetchResult() {
            fetch('/result')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('result-message').innerText = data.result;
                });
        }

        setInterval(fetchResult, 1000);  // Her saniye sonuçları kontrol et
    </script>
</body>
</html>
